<div class="header-container">
  <app-form-create (taskCreated)="loadTasks()"></app-form-create>
</div>

<div class="mat-elevation-z8">
  
  <ng-container class=" " >
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="NO.">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Título">
    <th mat-header-cell *matHeaderCellDef> Tarea </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="Comentarios">
    <th mat-header-cell *matHeaderCellDef> Comentarios </th>
    <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
  </ng-container>

  <ng-container matColumnDef="Completada">
    <th mat-header-cell *matHeaderCellDef> Completada </th>
    <td mat-cell *matCellDef="let element"> 
      <app-form-update [taskEdit]="element"></app-form-update>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  

</table>
</ng-container>
<mat-paginator [length]="3"
              [pageSize]="5"
              [pageSizeOptions]="[3, 5, 7, 10]"
              aria-label="Select page">
</mat-paginator>

</div>
